* {
    padding: 0;
    margin: 0;
  }
  .card-info-detail {
    width: 80%;
    height: 80%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .card-info-stats {
    flex-grow: 1;
    margin-left: 14px;
    margin-right: 96px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-info-stats p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
  }
  
  .card-info-header {
    width: 90%;
    height: 30%;
    margin-top: 1em;
    margin-left: 10px;
  }
  
  .card-info-header span {
    color: hsl(277, 64%, 61%);
  }
  
  .card-info-header h1 {
    font-size: 37px;
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }
  
  .card {
    height: 60%;
    width: 75%;
    display: flex;
    background-color: hsl(244, 38%, 16%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    background: hsl(277, 64%, 61%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-image img {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 75%;
    mix-blend-mode: multiply;
  }
  
  .container {
    height: 99vh;
    width: 99vw;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
  }
  
  .stats-text p {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
  }
  
  .stats-text h3 {
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }
  